# Node.js / React
node_modules/
build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Scripts
coverage/
.cache/

# Flask / Python
__pycache__/
*.py[cod]
instance/
*.env
*.sqlite3
venv/
.env
*.egg-info/
dist/
build/
.eggs/

# Docker
*.log
docker-compose.override.yml

# Misc
.DS_Store
*.swp